body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px auto;
    background-color: #b5e9e9;
}

.container {
    background: #e3f3f3;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    border-radius: 10px;
}

input,
select,
button {
    display: inline-block;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
}

input,
select {
    border-radius: 5px;
    outline: 2px solid lightseagreen;
    border: none;
}
#search_term {
    min-width: 300px;
}

.btns {
    max-width: 400px;
    margin: 0 auto;
}

button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#clear_btn {
    background-color: green;
    margin-top: 0;
}
#clear_btn:hover {
    background-color: rgb(2, 61, 2);
}

.searches {
    text-align: center;
}

.btns button {
    margin: 2px auto;
}

#checkboxes {
    position: relative;
    border: 2px solid lightseagreen;
    background-color: #b5e9e9;
    border-radius: 5px;
    padding: 10px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
    column-gap: 5px;
}

#checkboxes::before {
    content: "Extensive Search Options"; /* Title text */
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ceebeb;
    padding: 2px 10px;
    font-size: 15px;
    color: #333;
    border: 1px solid #333;
    border-radius: 2px;
    text-align: center;
}

@media (max-width: 730px) {
    #checkboxes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 445px) {
    #checkboxes {
        padding-top: 20px;
    }
    #checkboxes::before {
        top: -22px;
    }
}

#checkboxes input {
    outline: none;
}

#generate_link a {
    display: inline-block;
    margin: 2px;
    text-decoration: none;
    border: 1px solid lightseagreen;
    padding: 5px;
    border-radius: 2px;
}
